{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div class="wrapper">
  <div class="container" id="main-container">
    <header class="page-header">
      <h1 class="title">{{ .Site.Params.title | default "Albums" }}</h1>
      {{ with .Site.Params.subtitle }}<p class="lead">{{ . }}</p>{{ end }}
      <hr />
    </header>
    
    <div class="row">
      <div class="col-sm-12">
        <!-- Album Grid -->
        <div class="album-grid">
          {{ $albums := where .Site.RegularPages "Section" "album" }}
          {{ range $albums.ByParam "release_date" }}
          {{ $page := . }}
          <div class="album-card">
            <div class="album-card-image">
              <a href="{{ .RelPermalink }}">
                {{ $imageUrl := replace .Params.artwork_url_100 "/100x100bb.jpg" "/600x600bb.jpg" }}
                <img src="{{ $imageUrl }}" alt="{{ .Title }}">
              </a>
            </div>
            <div class="album-card-body">
              <h4 class="album-card-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h4>
              {{ with .Params.artist_name }}
              <p class="album-card-artist">{{ . }}</p>
              {{ end }}
              <div class="album-card-meta">
                {{ with .Params.release_date }}
                <span>{{ dateFormat "2006" . }}</span>
                {{ end }}
                {{ with .Params.primary_genre_name }}
                <span class="label label-default">{{ . }}</span>
                {{ end }}
              </div>
              <div class="album-card-info">
                {{ with .Params.track_count }}
                <i class="fa fa-music"></i> {{ . }} tracks
                {{ end }}
                {{ with .Params.collection_price }}
                &nbsp;&bull;&nbsp; ${{ . }}
                {{ end }}
              </div>
              <div class="album-card-actions">
                <a href="{{ .RelPermalink }}" class="btn btn-primary btn-sm">View</a>
                {{ with .Params.collection_view_url }}
                <a href="{{ . }}" class="btn btn-default btn-sm btn-icon" target="_blank" title="Open in iTunes">
                  <i class="fa fa-apple"></i>
                </a>
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}